:root {
  --font-family: "Roboto", sans-serif;
  --white-color: #ffffff;
  --section-hero-color: #2f303a;
  --active-color: #2196f3;
  --font-color: #000000;
  --btn-color: rgba(255, 255, 255, 0.6);
  --p-color: #757575;
  --nav-color: #212121;
  --project-background: #ffffff;
  --hero-background: #2f303a;
  --btn-background-color: #188ceb;
  --section-background: #f5f4fa;
  --icon-color: #afb1b8;
  --icon-footer-bgc: rgba(255, 255, 255, 0.1);
  --hero-bgc: #c4c4c4;
  --modal: rgba(0, 0, 0, 0.2);
  --background-benefits: rgba(47, 48, 58, 0.8);
  --overlay-bgc: rgba(33, 150, 243, 0.9);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--white-color);
  background: #ffff;
}

address {
  margin-top: 20px;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-p {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;

  text-align: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  margin-right: 93px;
  display: block;

  align-items: center;
}

.logo-color {
  color: var(--active-color);
}

.studio-color {
  color: var(--font-color);
}

.header__navigation {
  background: var(--project-background);
  display: flex;
  align-items: center;
}

.nav-ul {
  display: flex;
  margin-left: auto;
}

.nav-li {
  margin-right: 50px;
}

.nav-ul :last-child {
  margin-right: 0px;
}

.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--nav-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list:hover,
.nav-list:focus {
  color: var(--active-color);
}

.current {
  color: var(--active-color);
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-bottom: -1px;
  background-color: var(--active-color);
}

.list {
  list-style: none;
}

.header-tel {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--p-color);
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--active-color);
}

.header-mail {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--p-color);
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--active-color);
}

.item-tel-mail {
  display: flex;
}

.nav-ul .item-tel-mail + .item-tel-mail {
  margin-left: 50px;
}

.mail-icon {
  fill: currentColor;
}

.tel-icon {
  fill: currentColor;
}

/* ГЕРОЙ */

.section-hero {
  background-color: var(--hero-bgc);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Hero-background\(1\).jpg);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  width: 696px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  padding: 10px 32px;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--project-background);
  background-color: var(--active-color);

  border-color: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--btn-background-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--nav-color);
  margin-bottom: 50px;
}

.title-main {
  text-align: center;
}

.section-title-secondary {
  font-weight: 700;

  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--nav-color);
}

.fiature-main-list {
  display: flex;
}

.section-main {
  background: var(--project-background);
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-ul {
  display: flex;
  gap: 30px;
}

.feature-li {
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--section-background);
}

.section-main-second {
  background: var(--project-background);
  padding-bottom: 94px;
}

.section-team {
  background: var(--section-background);
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-team-ul {
  display: flex;

  gap: 30px;
}

.icon-list-team {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon-team {
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--icon-color);
}

.icon-team:hover,
.icon-team:focus {
  background-color: var(--active-color);
  fill: var(--white-color);
}

.icon-team:focus .team-icon-li {
  fill: var(--white-color);
}

.team-li {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-igor::after {
  background-image: url(../images/Sociallinks.svg);
}

.team-another::after {
  background-image: url(../images/Social-links-another.svg);
}

.work-profile {
  display: flex;
  justify-content: center;
}

.work-list {
  margin-right: 30px;
  position: relative;
}

.overlay-box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: var(--background-benefits);
}

.overlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  position: absolute;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work-list:last-child {
  margin-right: 0;
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--nav-color);
}

.section-clients {
  padding: 94px 0;
}

.clients-ul {
  display: flex;
  gap: 30px;
}

.icon-clients {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.clients-icon-li {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--icon-color);
}

.icon-clients:hover .clients-icon-li,
.icon-clients:focus .clients-icon-li {
  fill: var(--active-color);
}

.icon-clients:hover,
.icon-clients:focus {
  border-color: var(--active-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-main-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--project-background);
  cursor: pointer;
}

.flex-portfolio-btn {
  display: flex;
  margin-bottom: 50px;

  justify-content: center;
}

.btn-li {
  margin-right: 8px;
}

.btn-li:last-child {
  margin-right: 0;
}

.btn-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--nav-color);
  cursor: pointer;
  background: var(--section-background);
  border-radius: 4px;

  border: 1px solid transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: var(--active-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.about {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--p-color);
  margin-top: 10px;
}

.about-team {
  font-style: normal;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--p-color);
  margin-top: 10px;
  margin-bottom: 30px;
}

.about-portfolio {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--p-color);
  margin-top: 4px;
  margin-bottom: 0;
}

.flex-element {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-li {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover,
.portfolio-li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--overlay-bgc);
}

.overlay-portfolio-text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-li:hover .overlay-portfolio,
.portfolio-li:focus .overlay-portfolio {
  transform: translateY(0);
}

.border-text-portfolio {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(- n + 3) {
  margin-bottom: 0;
}

.main-portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--nav-color);
}

.section-footer {
  background: var(--section-hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  margin-right: 70px;
}

.logo-link-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  display: block;

  align-items: center;
}

.adrress-target {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--project-background);
  display: inline-block;
}

.footer-li {
  margin-bottom: 9px;
}

.footer-li:last-child {
  margin-bottom: 0;
}

.mail-footer {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--btn-color);
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-footer {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--btn-color);
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-footer:hover,
.mail-footer:focus {
  color: var(--active-color);
}

.tel-footer:hover,
.tel-footer:focus {
  color: var(--active-color);
}

.studio-footer-color {
  color: #ffffff;
  display: inline-block;
}

.addres-footer {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--btn-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addres-footer:hover,
.addres-footer:focus {
  color: var(--active-color);
}

.form-footer {
  display: flex;
  align-items: center;
}

.footer-socials {
  margin-right: 93px;
}

.join-us {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.icon-footer-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.icon-footer {
  width: 44px;
  height: 44px;
  background-color: var(--icon-footer-bgc);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-li {
  fill: var(--white-color);
}

.icon-footer:hover,
.icon-footer:focus {
  background-color: var(--active-color);
}

.form-footer {
  display: flex;
  margin-top: 20px;
}

.email-footer {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  background-color: var(--section-hero-color);
  border-color: var(--btn-color);
  color: var(--white-color);
}

.application-button-footer {
  display: flex;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  padding: 10px 28px;
  gap: 10px;
  width: 200px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border: 1px transparent;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--active-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.backdrop.is-hidden.modal {
  transform: translateX(50%) translateY(70%);
}

.close-modal {
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-svg {
  position: absolute;
  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.close-modal:hover,
.close-modal:focus {
  fill: var(--active-color);
}

.form {
  margin-left: auto;
  margin-right: auto;
}

.modal-header {
  font-style: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  margin-bottom: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-color);
}

.form-field {
  position: relative;

  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--btn-color);
}

.form-field-comment {
  position: relative;

  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--btn-color);
}

.form-field-for {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--btn-color);
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.input-form {
  position: relative;
  font-family: inherit;
  padding: 10px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
}

.input-form:focus-visible {
  outline: 1px solid var(--active-color);
  fill: var(--active-color);
}

.textarea {
  width: 448px;
  height: 120px;

  font-family: inherit;
  padding: 6px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
}

.textarea:focus-visible {
  outline: 1px solid var(--active-color);
}

.name-aplication {
  display: block;
  color: var(--p-color);
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.icon-application {
  position: absolute;
  top: 50%;
  left: 12px;

  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: var(--white-color);
}

.icon-application:focus-visible {
  fill: var(--active-color);
  outline: transparent;
}

.input-form:focus + svg {
  fill: var(--active-color);
}

.conditions {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 9px;

  color: var(--p-color);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.conditions-text {
  color: var(--p-color);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  user-select: none;
}

.form-agreement-link {
  color: var(--active-color);
}

.checkbox {
  appearance: none;
  width: 16px;
  height: 15px;
  border: 0.2px solid var(--nav-color);
  border-radius: 2px;
  background-color: var(--white-color);
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked {
  background-color: var(--active-color);
  border-color: transparent;
  background-size: contain;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.application-button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  padding: 10px 52px;
  width: 200px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-color: transparent;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--active-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.application-button:hover,
.application-button:focus {
  background-color: var(--btn-background-color);
}

textarea {
  resize: none;
}
