.section-hero {
    background-color: hero-bgc;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    max-width: 1600px;

    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/Hero-background\(1\).jpg);
}

.section-hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    width: 696px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;

    margin-left: auto;
    margin-right: auto;
}

.section-hero__button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    padding: 10px 32px;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    color: $project-background;
    background-color: $active-color;

    border-color: transparent;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
    background-color: $btn-background-color;
}}