$font-family: "Roboto",
sans-serif;
$white-color: #ffffff;
$section-hero-color: #2f303a;
$active-color: #2196f3;
$font-color: #000000;
$btn-color: rgba(255, 255, 255, 0.6);
$p-color: #757575;
$nav-color: #212121;
$project-background: #ffffff;
$hero-background: #2f303a;
$btn-background-color: #188ceb;
$section-background: #f5f4fa;
$icon-color: #afb1b8;
$icon-footer-bgc: rgba(255, 255, 255, 0.1);
$hero-bgc: #c4c4c4;
$modal: rgba(0, 0, 0, 0.2);
$background-benefits: rgba(47, 48, 58, 0.8);
$overlay-bgc: rgba(33, 150, 243, 0.9);